@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin: 0;
    padding: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}

address,cite,dfn,em,i,u,var {
    font-style: normal;
}
strong,b {
	font-weight: normal;
}
code,kbd,pre,samp {
    font-family: courier new,courier,monospace;
}
ul,ol,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}
sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #333;
}

fieldset,img {
    border: 0;
}

img,object {
    vertical-align: middle;
}

table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
	clear: both;
}

body {
    color: #333;
    font-family: "Microsoft YaHei",PingFangSC-Regular,Verdana,Arial,Helvetica,sans-serif,"宋体";
    font-size: 12px;
}
input, select, button {
	font-family: "Microsoft YaHei",PingFangSC-Regular,Verdana,Arial,Helvetica,sans-serif,"宋体";
}
/*----- 去掉虚框 -----*/
input:focus, select:focus {outline: 0 !important;} 
button::-moz-focus-inner,
input::-moz-focus-inner {border-color:transparent!important;}


/*----- mobile -----*/
html {-webkit-text-size-adjust: 100%;}
a,button,input,optgroup,select,textarea {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
} 
/*去除系统默认appearance的样式,常用于IOS下移除原生样式*/
input[type="submit"], input[type="reset"], input[type="button"],input[type="text"],input[type="password"],textarea, button { 
	-webkit-appearance: none !important; 
}
/*重新画input*/
input[type="text"],
input[type="password"] {
    color: #333;
    background-color: #fff;
    border: 1px solid #eee;		
}
/*美化checkbox和radio*/
input[type="checkbox"],
input[type="radio"] {
	width: 20px;
	height: 20px;
	background-color:#fff;
	-webkit-appearance:none;
	border:1px solid #c9c9c9;
	border-radius: 2px;
	outline: none;
	vertical-align: middle;
}
input[type="radio"] {border-radius: 50%;}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background-color: #ff7800;
	border-color: #ff7800;
	background-clip: content-box;
	padding:2px;
}
/*自定义placeholder*/
/*----- WebKit -----*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color: #c7c7c7;}
/*----- IE10+ -----*/
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color: #c7c7c7;}
/*----- Firefox4-18 -----*/
input:-moz-placeholder,
textarea:-moz-placeholder {color: #c7c7c7;}
/*----- Firefox19+ -----*/
input::-moz-placeholder,
textarea::-moz-placeholder {color: #c7c7c7;}
			
/*获取焦点清空placeholder*/
/*----- WebKit -----*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { color:transparent; }
/*----- IE10+ -----*/
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder { color:transparent; }				
/*----- Firefox4-18 -----*/
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder { color:transparent; }			
/*----- Firefox19+ -----*/
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder { color:transparent; }

/*----- 消除bootstrap默认样式 -----*/
.container {
	padding-left: 0;
	padding-right: 0;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1200px
    }
}
.row {
	margin-right: 0;
	margin-left: 0;
}
.btn {
	padding:0;
	line-height: normal;
}
ol,ul {
	margin-bottom: 0;
}
.list-inline {
	margin-left: 0;
}

.list-inline > li {
	padding-right: 0;
	padding-left: 0;
}

.table {margin-bottom: 0;}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
	padding:0;
	vertical-align: middle;
}

label {margin-bottom: 0;font-weight: 500;}
.bg-white {background-color: #fff;}    /*----- 白色背景 -----*/
.bg-gray {background-color: #f5f5f5;}  /*----- 灰色背景 -----*/
.bg-deep {background-color: #282d44;}  /*----- 深蓝色背景 -----*/


/*--------------------------------- 公共样式 ---------------------------------*/
/*头部*/
body {background-color: #fff;}
.common-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.common-header .common-top {
	background-color: #f2f2f2;
	padding: 4px 20px;
}
.common-header .common-top a {
	font-size: 12px;
	color: #666;
}
.common-header .common-nav {
	padding: 0 20px;
	height: 88px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.common-header.fixed .common-nav {
	background-color: rgba(255,255,255,.6);
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
/*logo*/
.common-nav .nav-logo {
	
}
.common-nav .nav-logo > a {display: block;}
.common-nav .nav-logo > a img {
	max-width: 120px;
	max-height: 88px;
}
/*导航栏*/
.common-nav .nav-tab {
	
}
.common-nav .nav-tab .menu-item {
	display: flex;
	align-items: center;
}
.common-nav .nav-tab .menu-item li {
	text-align: center;
	font-size: 16px;	
	height: 88px;
	line-height: 88px;
	padding: 0 20px;
	position: relative;
}
@media (max-width: 768px) {
	.common-nav .nav-tab .menu-item li {
		padding: 0 5px;
	}
}
.common-nav .nav-tab .menu-item li a {
	color: #000;
	-webkit-transition: transform .3s ease-in-out;
	-moz-transition: transform .3s ease-in-out;
	-ms-transition: transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	display: block;
}
.common-nav .nav-tab .menu-item li a:hover {
	color: #008fd7;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.common-nav .nav-tab .menu-item li.on > a {
	color: #008fd7;
}
.hvr-underline-from-center {
  	display: inline-block;
  	vertical-align: middle;
  	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  	position: relative;
  	overflow: hidden;
}
.hvr-underline-from-center:before {
  	content: "";
  	position: absolute;
  	z-index: -1;
  	left: 51%;
  	right: 51%;
  	bottom: 0;
  	background: #008fd7;
  	height: 2px;
  	-webkit-transition-property: left, right;
  	transition-property: left, right;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-timing-function: ease-out;
  	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  	left: 40%;
  	right: 40%;
}
/*页尾*/
.common-footer .footer-main {
	padding: 20px;
	background-color: #ef6096;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.common-footer .footer-main .footer-left .h3 {
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}
.common-footer .footer-main .footer-left .footer-left-item {
	margin: 10px 0;
}
.common-footer .footer-main .footer-left .footer-left-item li {
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #fff;
	margin-bottom: 10px;
}
.common-footer .footer-main .footer-left .footer-left-item li img,
.common-footer .footer-main .footer-left .footer-mall img {
	max-width: 15px;
	margin-right: 10px;
}
.common-footer .footer-main .footer-left .footer-mall a {
	font-size: 14px;
	color: #fff;
}
.common-footer .footer-main .footer-left .footer-mall a:hover {
	text-decoration: underline;
}
.common-footer .footer-main .footer-right .footer-right-item {
	display: flex;
}
.common-footer .footer-main .footer-right .footer-right-item li {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.common-footer .footer-main .footer-right .footer-right-item li img {
	max-width: 100px;
}
.common-footer .footer-main .footer-right .footer-right-item li span {
	font-size: 14px;
	color: #fff;
	padding-top: 10px;
	text-align: center;
}
/*底部*/
.common-footer .footer-bot {
	width: 100%;
	background: url(../img/common/bg_bot.png) top center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.common-footer .footer-bot span {
	font-size: 12px;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 12px;
}
